body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.blue {
  background-color: #9cd8d8;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: #F5F9FC;
  position: absolute;
  bottom: 1000px;
  z-index: 12; }
.increment {
  width: 5%;
  height: 100%;
  background: #017AFD;
  transition: all .75s; }

  .slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  text-align: center; }

  .background-blueprint {
    background: url(../img/saccounty.jpg) top left no-repeat;
    /*background-size: 620px 820px*/
    /*background-size:     cover; */                    /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    /*background-size: contain;*/
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    position: relative; 
}

