.ion-place-tools-autocomplete {
	position: relative;
	width: 100%;
	overflow: visible;
}
	.ion-place-tools-autocomplete input {
		width: 100%;
	}

.ion-place-tools-autocomplete-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 10;
}

.ion-place-tools-map-holder {
	position: fixed;
	top: 40px;
	left: 0;
	width: 100%;
	height: 90%;
	z-index: 100;
	left: -100%;
}
	.ion-place-tools-map-holder.visible {
		left: 0;
	}

.ion-place-tools-map {
	width: 100%;
	height: 100%;
}

.ion-place-tools-map-holder
	.autocomplete-wrap {
		position: absolute;
		top: 10px;
		right: 10px;
		left: 130px;
	}

.ion-place-tools-map-holder
	.autocomplete-wrap .item {
		padding: 4px 10px;
	}

.ion-place-tools-map-holder
	.controls {
		position: absolute;
		bottom: 20px;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
	}

.ion-place-tools-map-wrapper {
	position: relative;
	height: 100%;
}