/* Empty. Add your own CSS if you like */

.platform-android .action-sheet-cancel {
    display: block !important;
}


.furniture.android .furniture-background {
    background: url(../img/personal-check.jpg) top left no-repeat;
    background-size: 450px 500px;
    background-size: 100%;
    background-position: center;
    width: 450px;
    height: 500px; 
    margin: auto;
    position: relative;
    background-size: contain;
}

.blink_me {
  animation: blinker 2s linear infinite;
  color: red;
  /*background-color: red; */   
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.header .col {
  background-color:lightgrey;
}

.col {
  /*border: solid 1px grey;*/
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  /*border-right: solid 1px grey;*/
}

.row .row:last-child .col {
  /*border-bottom: solid 2px grey;*/
}


.ion-input-select--large,
.ion-input-select,
select {
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);  
  border:thin solid #dddddd;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  color:#333;
  padding: auto 0;
  overflow:hidden;
  box-sizing:border-box;

}

.ion-input-select--large {
  width:420px;
  font-size:1.6rem;
  background-image: url(http://i.imgur.com/7rGM4IX.png);
  text-indent:40px;
  padding:1.2rem 0;
}

.ion-input-select {
  width:200px;
  font-size:1rem;
  background-image: url(http://i.imgur.com/nA9xx1X.png);
  text-indent:20px;
  padding:.5rem 0;
}

option {
  background:#444;
}

select::-ms-expand {
    display: none;
}

:focus {
  outline:none;
}

/* Empty. Add your own CSS if you like */
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    border-radius: 25px;
    max-width: 50px;
    max-height: 50px;
    top: 10px;
}

.card .item-avatar > img:first-child {
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    left: 50px;
}

.card .item-avatar {
    padding-left: 110px;
}

.card .item-avatar:first-child > img:first-child {
    max-width: 70px;
    max-height: 70px;
    border-radius: 35px;
    left: 15px;
}

.card .item-avatar:first-child {
    padding-top: 24px;
    padding-left: 110px;
    height: 90px;
}


ion-item.item {
  color: blue;
  background: #000;
}
ion-item.item:nth-child(odd) {
  color: green;
}
ion-item.item:nth-child(even) {
  color: blue;
  background: yellow;
}

div.item {
  color: blue;
  /*background: #000;*/
}
div.item:nth-child(odd) {
  color: green;
}
div.item:nth-child(even) {
  color: blue;
  background: yellow;
}

div.upload 2
  {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}
    
div.upload     {width: 157px;
    height: 57px;
    background: url(../img/upload.png);
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}



