<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/fileInput.css" rel="stylesheet">
  <link href="css/intro.css" rel="stylesheet">
  <!--link href="css/ionic-rating.css" rel="stylesheet"-->
  <link href="css/rating.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ionic-autocomplete.bundle.min.js"></script>
  <!-- firebase geo scripts, GeoFire depends on RSVP -->
  <script type="text/javascript" src="lib/misc/rsvp.min.js"></script><script src="lib/firebase/firebasev2.1.2.js"></script>
  <script src="lib/firebase/angularfire.js"></script>
  <!--Firebase Scripts End-->
  <script src="lib/misc/lodash.js"></script>
  <!--Firebase Geohash scripts-->
  <script type="text/javascript" src="lib/firebase/geofire.min.js"></script>
  <script type="text/javascript" src="lib/firebase/angularGeoFire.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="js/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/vendor/uuid.js"></script>
  <!--Script to save file-->
  <script src="js/FileSaver.js"></script>
  <!--PDF manipulation-->
  <script src="lib/pdfmake/build/pdfmake.js"></script>  
  <script src="lib/pdfmake/build/vfs_fonts.js"></script>  
  <script src="lib/pdfjs-dist/build/pdf.js"></script>  
  <script src="lib/angular-pdf/dist/angular-pdf.js"></script>

  <!-- Chance.js is only used to generate random data -->  
  <script src="lib/chance/chance.js"></script>

<!--script src="libs/jquery/jquery.js"></script-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&sensor=false"></script>
     <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble.js">
      </script>
    <link href="css/ion-place-autocomplete.css" rel="stylesheet">
    <script src="lib/ion-place-autocomplete.js"></script>
    <script src="lib/ion-place-map.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/invoice.service.js"></script>
 <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205894e1544c811"></script>
<script type="text/javascript">
var addthis_share = 
{ 
templates: {
twitter: 'Uncashed Checks',
}
}
</script>


  </head>

<body ng-app="beerPass">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
    </ion-nav-back-button>
</ion-nav-bar>

  <ion-nav-view></ion-nav-view>



<script id="pdf-viewer.html" type="text/ng-template">  
    <ion-modal-view>
    <ion-header-bar>
        <h1 class="title"></h1> 
        <button class="button button-clear button-positive" ng-click="editPDF()">Edit</button>
        </div>
        <button class="button  button-assertive" ng-click="createPDF()">Create PDF</button>
        </div>

        <button ng-click="modal.hide()" class="button button-icon icon ion-android-close"></button>
    </ion-header-bar>
    <ion-content>
        <ng-pdf ng-if="pdfUrl" template-url="views/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>  
    </ion-content>
    </ion-modal-view>
</script>  

<script id="pdf-editor.html" type="text/ng-template" >  
    <ion-modal-view>
    <ion-header-bar>
            <h1 class="title">Claim Editor</h1> 
        <button ng-click="modalEdit.hide()" class="button button-icon icon ion-android-close"></button>
    </ion-header-bar>

    <ion-content>
    <form name="form1" ng-model="form1">                         
  <div class="row">
    <div class="large-12 columns">
      <label>Name
        <input type="text" id='ClaimName' placeholder={{vars.ClaimName}} ng-model="ClaimName" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Amount
        <textarea id='amountInput' placeholder={{vars.amount}} ng-model="amount"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Dated
        
        <input type='date'  id='dateInput' placeholder={{vars.date}} ng-model="date"></input>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Check Number
        <textarea id='checknoInput' placeholder={{vars.Check_No}} ng-model="Check_No"></textarea>
      </label>
    </div>
  </div>

  <button class="button  button-assertive" ng-click="doneEdit(form)">Done</button>
</form>
    </ion-content>
    </ion-modal-view>
</script>

<script>
if (window.File && window.FileReader && window.FileList && window.Blob) {
  console.log("File API supported.!");
  } 
else {
  console.log("The File APIs are not fully supported in this browser.");
}
</script>




</body>
</html>
