<div class="modal" style="overflow: hidden">
    <ion-header-bar>
            <h1 class="title">Claim Editor</h1> 
        <button ng-click="addDialog.hide()" class="button button-icon icon ion-android-close"></button>
    </ion-header-bar>


    <ion-content >
        <form name="form" ng-model="form">
            <!--img ng-src="{{message.image}}"-->
              
            <ion-list>
               <div class="item item-input item-stacked-label">
                    <span class="input-label">Name</span>
                    <input  type="text" placeholder="{{vars.ClaimName}}" name="ClaimName" ng-model="ClaimName" required />
                </div>
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Amount</span>
                    <input  type="text" placeholder="{{vars.amount}}" name="amount" ng-model="amount" required />
                </div>
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Date</span>
                    <input  type="text" placeholder="{{vars.date}}" name="date" ng-model="date" required />
                </div>
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Check Number</span>
                    <input  type="text" placeholder="{{vars.Check_No}}" name="Check_No" ng-model="Check_No" required />
                </div>
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Address</span>
                    <input  type="text" placeholder="Address" name="Address" ng-model="Address" required />
                </div>
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Telephone</span>
                    <input  type="text" placeholder="Telephone" name="Telephone" ng-model="Telephone" required />
                </div>


<button class="button  button-assertive" ng-click="doneEdit(form)">Done</button>

            </ion-list>
        </form>
    </ion-content>

</div>