<ion-view view-title="Notary">
 
  <ion-nav-buttons side="right">
    <button ng-click="locate();" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>
  <ion-content scroll="false" has-header="true">
  	
      <div class="text-center">
        <button class="button button-positive" ng-click="showMap()">Show Map</button>
      </div>

      <div>
	      <ion-google-place-map data-tap-disabled="true" visible="x.visible" data="data" options="options" on-success="successCallback"></ion-google-place-map>
	      <br>
	      <b> Address: </b>{{ data.address }}
	      <br>
	      <b> Latitude: </b>{{ data.latitude }}
	      <br>
	      <b> Longitude: </b>{{ data.longitude }}
	      <br>
	      <br>
	  </div>
  
    </ion-content>
</ion-view>
