<ion-view title="Claims">
  <ion-header-bar>
  	 <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205894e1544c811"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205894e1544c811"></script>

</ion-header-bar>
  <ion-content has-header="true">
  				
  				

  				<div>{{vars.ClaimName}}</div>
  				<div>
  					<h3>Was the check made out to an Individual, Business, or Jointly to another person(s)?</h3>
  					</div>
  				<ion-radio ng-model="choice" ng-value="'A'">Individual</ion-radio>
				<ion-radio ng-model="choice" ng-value="'B'">Business</ion-radio>
				<ion-radio ng-model="choice" ng-value="'C'">Joint</ion-radio>

  				 <div  class="list card" ng-if="ClaimName" ng-show="choice">
		            <div class="item-text-wrap item item-avatar item-icon-left">
		            	<i class="icon ion-ios-paper"></i>
				        <div class="row">
							 <div class="col" ng-show="choice == 'A'">
							  	<div><button   ng-click="createInvoice(1)" class="button  button-calm"> Edit</button></div>
							</div>
							<div class="col" ng-show="choice == 'B'">
							  	<div><button  ng-click="createInvoice(2)" class="button  button-calm"> Edit</button></div>
							</div>
							<div class="col" ng-show="choice == 'C'">
							  	<div><button  ng-click="createInvoice(3)" class="button  button-calm"> Edit</button></div>
							</div>
						</div>	  
					</div>
				</div>

				<div  class="list card" ng-show="choice " ng-if="amount<=100" >
					<div ng-controller = "fileCtrl">
						<div class="item-text-wrap item item-avatar item-icon-left">
									<i class="icon ion-paperclip"></i>
									<div class="upload">
							         	<input type = "file" file-model = "myFile"/>
							         </div>
							         
						</div>
					</div>
				</div>

				<div  class="list card" ng-show="choice " ng-if="amount<=100" >
					<div ng-controller = "fileCtrl">
						<div  class="item-text-wrap item item-avatar item-icon-left">
							
							         <i class="icon ion-ios-email"></i>
							         <button   ng-click="sendMail()" class="button  button-calm"  >Send!</button>
						</div>
						 
						 
					</div>

				</div>


<!-- 
				<div class="list" ng-if="amount>100" >
			        <label class="item item-input">
			            <input id="FirstName" type="text" placeholder="Enter Zip Code" ng-model="Info.FirstName" />
			        </label>
			        <button ng-if="amount>100"  ng-click="Next(Info)" class="button icon-left ion-play button-calm"> Find Notary </button>
		        
		    	</div>

		    	<div ng-if="amount>100">
			        <label class="item item-divider">
			            Notary List 
			        </label>

			        <div class="row header">
			          <div  class="col">Business Name</div>
			          <div  class="col">License Expiration</div>
			          <div  class="col">Address</div>
			          <div  class="col">Notary Name</div>
			          <div  class="col">Telephone</div>
			          
        			</div>

			    	 <div  class="list card" ng-if="ClaimName" >
			    	 	<ion-list>
				            <ion-item ng-repeat="item in notaryList" type="item-text-wrap" class="item-avatar item-text-wrap">
				            	{{item.Notary_Name}}
				            </ion-item>
				        </ion-list>
			    	 	<div class='item-text-wrap' ng-repeat="item in notaryList" item="item" >

        			<div class="row" class='item-text-wrap'>
			          <div class="col">{{item.Biz_Name}}</div>
			          <div class="col">{{item.Expiration }}</div>
			          <div class="col">{{item.Mail_Address}} </div>
			          <div class="col">{{item.Notary_Name}} </div>
			          <div class="col">{{item.Number}}</div>
			          
			        </div>
			    	</div>
			    </div> -->

  </ion-content>
</ion-view>
