<ion-view view-title="Claim your Sac County Check">
    
    <ion-nav-bar>

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        
            <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="skipIntro()">
            Skip Intro
        </button>
    </ion-nav-buttons>
       


    </ion-header-bar>

    <ion-content has-header="true" >
     <!--div class=" background-blueprint"></div-->
    <div class="progress-bar">
          <div class="increment"></div>
        </div>


          <ion-slide-box on-slide-changed="slideChanged(index)" >

          <ion-slide  >
          <a href="https://github.com/hackforsac/unclaimed-checks"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>


                <h1>Did you forget to cash in a check from the County?</h1>
                
                <p>
                    <h3>Not sure if you have money waiting for you? FInd out now ! </h3>
                </p>

                <div id="logo">
                <img src="img/saccounty.jpg" />
            </div>
                <div id="logo">
                <img src="img/personal-check.jpg" />
            </div>
            
            </ion-slide>

         
            <ion-slide  >
                 <h1>Search & Share</h1>
                <p>
                    <h3>by Name or Check Number</h3>
                </p>
                <div id="logo">
                    <!--img src="img/search.gif" /-->
                    <img src="img/searchName.png" />
                </div>


            </ion-slide>

            <ion-slide  >
                 <h1>Claim</h1>
                <p>
                    or donate by filling the right form
                </p>
                <p>
                    as Individual, Business, or Joint
                </p>
                <p>
                    Provide last 3 addresses if address changed
                </p>

                <div id="logo">
                    <!--img src="img/claim1.gif" /-->
                    <img src="img/claim1.png" />
                </div>
            </ion-slide>


            <ion-slide  >
                 <h1>Find a notary</h1>
                <p>
                    <h3>if Amount >$100</h3>
                </p>
                <div id="logo">
                    <!--img src="img/notary.gif" /-->
                    <img src="img/notary.png" />
                </div>
            </ion-slide>


            <ion-slide  >
                 <h1>Submit by email</h1>
                <p>
                    <h3>or Notarize & send by post if >$100</h3>
                </p>
                <div id="logo">
                    <!--img src="img/send.gif" /-->
                    <img src="img/email.png" />
                </div>
            </ion-slide>

        <ion-slide  >


            <ion-slide  >
                 <h1>Mail it! Get your check within 90 days!</h1>
                <p>
                    <p>Mailing Address: County of Sacramento</p>
                        <p>Department of Auditor-Controller</p>
                        <p>700 H Street, Room 3650</p>
                        <p>Sacramento, CA 95814</p>
                        <p>ATTN: Warrant Accounting Unit </p>
                    
                </p>
                <div id="logo">
                    <!--img src="img/send.gif" /-->
                    <img src="img/previewform.png" />
                </div>
            </ion-slide>

  



    </ion-slide-box>

    </ion-content>
</ion-view>