<ion-view title="Search For My Checks">
  <ion-header-bar>
  	 <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205894e1544c811"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205894e1544c811"></script>

</ion-header-bar>
  <ion-content has-header="true">
  			<div class="row">
					  <div class="col">
  					<ion-toggle ng-change="toggleChange()" ng-model="byCheckNo" toggle-class="toggle-calm"> Search by Check Number</ion-toggle>
  				</div>
  				<div class="col"></div>
  				<div class="col"></div>
  				<div class="col"></div>
  			</div>

                    <ionic-autocomplete autocomplete-input="autocompleteInputAsync"></ionic-autocomplete>
                    
                    <!--span>Selected Brew: {{selectedItemAsync}}</span-->
               	
        		 <div class="list card" ng-if="ClaimName" >
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-person"></i>
		                <h2>{{ClaimName}}</h2>
		            </div>
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-social-usd"></i>
		                <h2>{{amount}}</h2>
		            </div>
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-calendar"></i>
		                <h2>{{date}}</h2>
		            </div>
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-card"></i>
		                <h2>{{Check_No}}</h2>
		            </div>
		            <div ng-if="amount>100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class="blink_me icon ion-android-warning"></i>
		            	
		  					Notary Required!
					</div>
					<div ng-if="amount>100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class="blink_me icon ion-printer"></i>
		            	
		  					Print & Mail Claim
					</div>
					<div ng-if="amount<=100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class=" icon ion-checkmark-round"></i>
		            	
		  					No Notary Required
					</div>
					<div ng-if="amount<=100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class=" icon ion-wifi"></i>
		            	
		  					Electronic claim OK
					</div>
		        </div>

		        <div class="row">
					  <div class="col">
					  	<div><button ng-if="amount" ng-click="goClaims(1)" class="button icon-left ion-ios-cart button-calm">Claim</button></div>
					  </div>
					  
					  <div class="col">
					  	<div><button ng-if="amount" ng-click="goClaims(2)" class="button icon-left ion-ios-heart button-calm">Donate</button></div>
					  </div>
					  
					</div>
    
  </ion-content>
</ion-view>
