<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        
        <ion-item menu-close href="#/app/locations">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/mapNotary">
          Notary
        </ion-item>
        <ion-item ng-click="showIntro()" menu-close href="#/app/intro">
          Intro
        </ion-item>
        <ion-item menu-close href="#/app/rate">
          Rate App
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
