<ion-view title="Notary">
  <ion-header-bar>
  	 <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205894e1544c811"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5205894e1544c811"></script>

</ion-header-bar>
  <ion-content has-header="true">
  			<div class="row">
					  <div class="col">
  					<ion-toggle ng-change="toggleChange()" ng-model="byCheckNo" toggle-class="toggle-calm"> Search by Check Number</ion-toggle>
  				</div>
  				<div class="col"></div>
  				<div class="col"></div>
  				<div class="col"></div>
  			</div>
					<!--select class="ion-input-select">
					 
					  <option>Search by Name</option>
					  <option>Search by Check Number</option>
					  
					</select-->
				
					
              
                    <ionic-autocomplete autocomplete-input="autocompleteInputAsync"></ionic-autocomplete>
                    
                    <!--span>Selected Brew: {{selectedItemAsync}}</span-->
               	
        		 <div class="list card" ng-if="ClaimName" >
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-person"></i>
		                <h2>{{ClaimName}}</h2>
		            </div>
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-social-usd"></i>
		                <h2>{{amount}}</h2>
		            </div>
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-calendar"></i>
		                <h2>{{date}}</h2>
		            </div>
		            <div class="item-text-wrap item item-avatar item-icon-left">
		                <i class="icon ion-card"></i>
		                <h2>{{Check_No}}</h2>
		            </div>
		            <div ng-if="amount>100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class="blink_me icon ion-android-warning"></i>
		            	
		  					Notary Required!
					</div>
					<div ng-if="amount>100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class="blink_me icon ion-printer"></i>
		            	
		  					Print & Mail Claim
					</div>
					<div ng-if="amount<=100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class=" icon ion-checkmark-round"></i>
		            	
		  					No Notary Required
					</div>
					<div ng-if="amount<=100" class="item-text-wrap item item-avatar item-icon-left">
		            	<i class=" icon ion-wifi"></i>
		            	
		  					Electronic claim OK
					</div>
		        </div>

		        <div class="row">
					  <div class="col">
					  	<div><button ng-if="amount" ng-click="createInvoice()" class="button icon-left ion-ios-cart button-calm">Claim</button></div>
					  </div>
					  
					  <div class="col">
					  	<div><button ng-if="amount" ng-click="createInvoice()" class="button icon-left ion-ios-heart button-calm">Donate</button></div>
					  </div>
					  
					</div>
        		<!--ion-list ng-if="ClaimName" option-buttons="itemButtons" can-swipe="true">
			        <label class="item item-divider">
			            My Claim
			        </label>
		    	</ion-list>
		    	 <ion-list>
		    	 <div ng-if="ClaimName" >
		    	 	<i class="icon ion-ios7-person"></i>
		            {{ClaimName}}
		        </div>
			          <div ng-if="amount" class="col">${{amount }}</div>
			          <div ng-if="date" class="col">{{date}} </div>
			          <div ng-if="Check_No" class="col">{{Check_No}}</div>
			          <div ng-if="amount>100" ><button class="blink_me button icon-left  button-assertive" ng-if="amount>100" ng-model="amount">Notary Required!</button>
			          </div>	
		        </ion-list-->

		    		<!--div class="row header">
			          <div ng-if="ClaimName" class="col">Name</div>
			          <div ng-if="amount" class="col">Amount</div>
			          <div ng-if="date" class="col">Date</div>
			          <div ng-if="Check_No" class="col">Check Number</div>
			          <div ng-if="amount>100" class="col">Notary</div>
        			</div-->
        			<!--div class="row" >
			          <div ng-if="ClaimName" class="col">{{ClaimName}}</div>
			          <div ng-if="amount" class="col">${{amount }}</div>
			          <div ng-if="date" class="col">{{date}} </div>
			          <div ng-if="Check_No" class="col">{{Check_No}}</div>
			          <div ng-if="amount>100" class="col"><button class="blink_me button-assertive" ng-if="amount>100" ng-model="amount">
		            Notary Required!
		        	</button></div>
			        </div-->
			        <div></div>

		        <div class="list" ng-if="amount>100" >
			        <label class="item item-input">
			            <input id="FirstName" type="text" placeholder="Enter Zip Code" ng-model="Info.FirstName" />
			        </label>
			        <button ng-if="amount>100"  ng-click="Next(Info)" class="button icon-left ion-play button-calm"> Find Notary </button>
		        
		    	</div>
		    	<div ng-if="amount>100">
			        <label class="item item-divider">
			            Notary List 
			        </label>

			        <div class="row header">
			          <div  class="col">Business Name</div>
			          <div  class="col">License Expiration</div>
			          <div  class="col">Address</div>
			          <div  class="col">Notary Name</div>
			          <div  class="col">Telephone</div>
			          
        			</div>

			    	<div class='item-text-wrap' ng-repeat="item in notaryList" item="item" >

        			<div class="row" class='item-text-wrap'>
			          <div class="col">{{item.Biz_Name}}</div>
			          <div class="col">{{item.Expiration }}</div>
			          <div class="col">{{item.Mail_Address}} </div>
			          <div class="col">{{item.Notary_Name}} </div>
			          <div class="col">{{item.Number}}</div>
			          
			        </div>
			    	</div>
			    </div>


<!-- Go to www.addthis.com/dashboard to generate a new set of sharing buttons -->
<!--a href="https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5205894e1544c811&ct=1&title=I%20-%20Found%20my%2C%20friend's%20money%2C%20on%20saccounty.checks.org&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/linkedin.png" border="0" alt="LinkedIn"/></a>
<a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5205894e1544c811&ct=1&title=I%20-%20Found%20my%2C%20friend's%20money%2C%20on%20saccounty.checks.org&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png" border="0" alt="Facebook"/></a>
<a href="https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5205894e1544c811&ct=1&title=I%20-%20Found%20my%2C%20friend's%20money%2C%20on%20saccounty.checks.org&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png" border="0" alt="Twitter"/></a-->


      
  </ion-content>
</ion-view>
