<ion-view view-title="Rate this App!">
    
    <ion-header-bar>

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>


    </ion-header-bar>

    <ion-content has-header="true">

            <div class="row">
                <div class="col"> </div>
                <div class="col">
         
                    <h3>Rate this App</h3>
                    <div ng-init="rating = star.rating + 1"></div>

                    <div class="star-rating" star-rating rating-value="rating"

                    data-max="5" on-rating-selected="rateFunction(rating)"></div>
                    <div class="col"> </div>


    </ion-content>
</ion-view>